* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Plus Jakarta Sans', 'Roboto', sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
code {
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

details summary::after {
    content: 'Ver mais';
}

details[open] summary::after {
    content: 'Ver menos';
}

summary {
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 30px;
    max-width: 7em;
}

.header-menu {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 60px;
    padding: 32px 6em 32px 6em;
    background-color: #333;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-radius: 0px 0px 16px 16px;
    filter: drop-shadow(0px 5px 6.27px rgba(0, 0, 0, 0.34));
}

.header-menu nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.logo img {
    height: 3em;
}

.logo p {
    font-size: 18px;
    font-weight: 700;
    color: #EFF0F3;
    text-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
}

.list-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 50%;
}

.list-menu li>a {
    color: #EFF0F3;
    font-size: 18px;
    text-decoration: inherit;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
}

.principal {
    background-color: #EFF0F3;
    padding-top: 65px;
}

.subcontainer-principal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.img-principal {
    display: flex;
    justify-items: center;
    gap: 20px;
}

.subcontainer-principal img:first-child {
    max-height: 100%;
    z-index: 2;
}

.subcontainer-principal .patterns-decoration {
    mix-blend-mode: color-burn;
    max-height: 100%;
    max-width: 20%;
    position: absolute;
    right: 140px;
    z-index: 1;
}

.subcontainer-principal p {
    line-height: 1.5em;
    margin-bottom: 30px;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #FCFCFC;
    border-style: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.full-name {
    font-size: 36px;
    color: #333;
    font-weight: 700;
}

.title-name {
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.7);
    padding: 5px 0 30px 0;
}

.list-article {
    display: flex;
    flex-flow: column wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title-principal {
    font-size: 36px;
    color: #333;
}

.list-item {
    padding: 32px;
}

.list-item li {
    margin-bottom: 32px;
}

.list-title {
    margin-bottom: 5px;
    font-size: 22px;
    color: rgba(51, 51, 51, 0.7);
    font-weight: 700;
}

.link-list {
    font-size: 18px;
    font-weight: 500;
    color: #8F472C;
}

.description-list {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #595959;
    font-weight: 300;
}

.talks-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.wrapper-formation,
.wrapper-talks,
.wrapper-portfolio,
.wrapper-footer {
    display: flex;
    flex-direction: column;
}

.wrapper-portfolio {
    background-color: #EFF0F3;
}

.talks-card {
    background-color: #EFF0F3;
    box-shadow: 0px 1px 2px rgba(58, 58, 68, 0.24), 0px 2px 4px rgba(90, 91, 106, 0.24);
    border-top: 5px solid #8F472C;
    border-radius: 0px 0px 16px 16px;
    filter: drop-shadow(0px 5px 6.27px rgba(0, 0, 0, 0.34));

    max-width: 265px;
    min-width: 30%;
    padding: 20px 15px 20px 15px;
}

code {
    background-color: #D9A6A4;
    padding: 4px 8px;
    border-radius: 9px;
    color: #251D13;
}

.talks-card p:first-child {
    color: #8F472C;
    font-weight: 500;
    margin-bottom: 0.50rem;
}

.talks-card hr {
    margin-top: 0.50rem;
    color: #EFF0F3;
}

.talks-card .description-list {
    margin-top: 1em;
}

.wrapper-footer {
    background-color: #333;
    border-radius: 16px 16px 0px 0px;
}

.img-pattern {
    max-height: 0.3%;
    position: relative;
    max-width: 20%;
    top: 160px;
    mix-blend-mode: color-burn;
}

.footer-title {
    font-size: 36px;
    color: #EFF0F3;
    padding-top: 82px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse wrap;
    align-items: baseline;
    gap: 36px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #EFF0F3;
}

.footer-list p {
    font-weight: 700;
    font-size: 16px;
    width: 20%;
}

.footer-list strong {
    color: #D9A6A4;
}

.link-footer {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #EFF0F3;
}

.credits {
    color: #EFF0F3;
    font-weight: 500;
    font-size: 70%;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 32px;
    border-top: 1px solid #666;
}

.list-mobile-menu,
.subcontainer-principal p br,
label,
#mobile-btn {
    display: none;
}

@media (max-width: 900px) {
    .subcontainer-principal p br {
        display: inline-block;
    }

    .header-menu {
        padding: 32px 2em 32px 2em;
    }

    .list-menu {
        display: none;
    }

    #mobile-btn {
        display: none;
    }

    label {
        -webkit-appearance: push-button;
        -moz-appearance: button;
        display: block;
        cursor: pointer;
        color: #EFF0F3;
        padding: 5px;
    }

    #saiba-mais {
        display: none;
    }

    #mobile-btn:checked~#saiba-mais {
        display: block;
    }

    .list-mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 36px;
        position: fixed;
        top: 50px;
        right: 0;
        padding: 40px 60px 30px 40px;
        background-color: #333;
        border-radius: 0px 0px 16px 16px;
    }

    .list-mobile-menu li a {
        width: 100%;
        text-align: left;
        color: #EFF0F3;
    }

    .container {
        padding: 0 30px 0 30px;
    }

    .subcontainer-principal {
        flex-flow: column wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }

    .subcontainer-principal img {
        max-width: 100%;
    }

    .subcontainer-principal img:last-child {
        display: none;
    }

    .img-principal {
        border-radius: 30%;
        width: 80%;
        overflow: hidden;
        position: relative;
        border: 5px solid rgba(51, 51, 51, 0.073);
        background-image: url(./assets/patterns-andressa-borges.svg);
        background-color: #D9A6A4;
        background-blend-mode: color-burn;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .subcontainer-principal .patterns-decoration {
        max-width: 100%;
    }

    .subcontainer-principal p {
        line-height: 1.5em;
        padding-bottom: 35px;
        text-align: left;
    }

    .footer-list {
        flex-flow: column-reverse wrap;
    }

    .footer-list p {
        width: 90%;
    }

    .img-pattern {
        max-width: 30%;
        top: 60px;
    }
}